---
title: omgtitb.com - Home
---

<div class="welcome">
  <h1>OMG, Tom Is The Bomb!</h1>
  <p class="doc">
    <%= link_to "Checkout the <em>real</em> me", "http://thomasnguyen.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->